/ {

// Key Definitions (For Layered Modifiers)

// Linux Keybinds
#define L_AMPS    LS(N6)
#define L_LBRKT   LS(N8)
#define L_RBRKT   LS(N9)
#define L_LSQBKT  RA(N8)
#define L_RSQBKT  RA(N9)
#define L_LCURLY  LS(RA(N9))
#define L_RCURLY  LS(RA(N9))
#define L_PLUS    MINUS
#define L_SQT     BSLH
#define L_HAT     PERCENT
#define L_BCKTCK  LS(BSLH) // Try NUBS instead of BSLH if it doesn't work
};
