/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

// Local import of custom keybinds
#include "includes/keymaps.dtsi"

#define BASE 0
#define SYMB 1
#define MEDIA 2
#define CONNECT 3

&mt {
    flavor = "balanced";
    require-prior-idle-ms = <120>;
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
    hold-trigger-on-release;
};

/ {
    chosen {
        zmk,physical-layout = &five_col_layout;
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            display-name = "BASE";
            bindings = <
  &kp Q        &kp W        &kp E       &kp R       &kp T  &kp C_MUTE   &kp C_PP        &kp Y     &kp U       &kp I       &kp O        &kp P
  &mt LSHFT A  &mt LCTRL S  &mt LALT D  &mt LGUI F  &kp G  &mo CONNECT  &kp C_BKLT_TOG  &kp H     &mt LGUI J  &mt LALT K  &mt LCTRL L  &mt RSHFT L_SQT
  &kp Z        &kp X        &kp C       &kp V       &kp B                               &kp N     &kp M       &kp COMMA   &kp DOT      &kp SEMI
                            &mo SYMB    &kp SPACE   &lt MEDIA ESC                       &kp BSPC  &kp RET     &mo SYMB
            >;
        };

        symbols_layer {
            display-name = "SYMB";
            bindings = <
  &trans  &kp EXCL    &kp L_CLN   &kp L_EQ    &kp L_PLUS  &trans  &trans  &kp L_AT  &kp L_LCRL  &kp L_RCRL  &kp L_STAR  &kp L_NORA
  &trans  &kp L_DQT   &kp L_BTCK  &kp L_HAT   &kp TILDE   &trans  &trans  &kp L_LT  &kp L_LBKT  &kp L_RBKT  &kp L_GT    &kp L_NORO
  &trans  &kp L_PIPE  &kp L_AMPS  &kp L_DLLR  &kp L_HASH                  &kp AMPS  &kp L_LSQB  &kp L_RSQB  &kp STAR    &kp L_NORAE
                      &trans      &trans      &trans                      &trans    &trans      &kp TAB
            >;
        };

        media_layer {
            display-name = "MEDIA";
            bindings = <
  &trans  &kp C_PREV  &kp UP    &kp C_NEXT  &kp C_VOL_UP  &trans  &trans  &trans  &kp N7  &kp N8  &kp N9  &trans
  &trans  &kp LEFT    &kp DOWN  &kp RIGHT   &kp C_VOL_DN  &trans  &trans  &trans  &kp N4  &kp N5  &kp N6  &trans
  &trans  &trans      &kp C_PP  &trans      &kp C_MUTE                    &trans  &kp N1  &kp N2  &kp N3  &kp N0
                      &trans    &trans      &trans                        &trans  &trans  &trans
            >;
        };

        conn_layer {
            display-name = "CONNECT";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &bt BT_NXT    &bt BT_PRV    &trans        &trans
                  &trans  &trans  &trans                  &trans  &trans        &trans
            >;
        };
    };
};
