/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 *
 * Personal Configuration: Hatakez
 */

 // KEY CODES: https://zmk.dev/docs/keymaps/list-of-keycodes

 // TODO:
 // - Import the changes that has been done on the ZMK Studio so it's version controlled here
 // - Adjust the timers for the homerow mods so there's less time required in the rollover
 // - Change the question mark on the top right of the left hand symbols into a plus sign

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Local Imports
#include "includes/keymaps.dtsi"

/ {
    chosen { zmk,physical-layout = &five_col_layout; };
};

// Behaviors
/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <120>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <120>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
        };
    };
};

// Layers
#define BASE         0
#define SYMBOLS      1
#define MEDIA        2
#define CONNECTIVITY 3


// Keymaps
/ {
    keymap {
        compatible = "zmk,keymap";

        default_macos {
            display-name = "BASE";
            bindings = <
  &kp Q          &kp W         &kp E        &kp R        &kp T  &kp C_MUTE        &kp C_PP        &kp Y          &kp U        &kp I         &kp O        &kp P
  &hml LSHIFT A  &hml LCTRL S  &hml LGUI D  &hml LALT F  &kp G  &mo CONNECTIVITY  &studio_unlock  &kp H          &hmr LALT J  &hmr LCTRL K  &hmr LGUI L  &hmr RSHIFT SINGLE_QUOTE
  &kp Z          &kp X         &kp C        &kp V        &kp B                                    &kp N          &kp M        &kp COMMA     &kp DOT      &kp MINUS
                               &mo SYMBOLS  &kp SPACE    &lt MEDIA ESCAPE                         &kp BACKSPACE  &kp RET      &mo SYMBOLS
            >;
        };

        symbols {
            display-name = "SYMBOLS";
            bindings = <
  &kp MAC_HAT  &kp EXCL      &kp MAC_COLON   &kp MAC_EQUALS  &kp MINUS    &trans  &trans  &kp BSLH       &kp MAC_LCURLY  &kp MAC_RCURLY  &kp LS(BSLH)   &kp LBKT
  &trans       &kp DQT       &kp EQUAL       &kp MAC_TILDE   &kp PERCENT  &trans  &trans  &kp MAC_LT     &kp MAC_LBRKT   &kp MAC_RBRKT   &kp MAC_GT     &kp SEMI
  &trans       &kp MAC_PIPE  &kp MAC_AMPS    &kp DOLLAR      &kp HASH                     &kp MAC_BSLSH  &kp MAC_LSQBKT  &kp MAC_RSQBKT  &kp MAC_FSLSH  &kp SQT
                             &trans          &trans          &trans                       &trans         &trans          &kp TAB
            >;
        };

        media_and_numbers {
            display-name = "MEDIA";
            bindings = <
  &trans  &kp C_PREV  &kp UP    &kp C_NEXT  &kp C_VOL_UP  &trans  &trans  &trans  &kp N7  &kp N8  &kp N9  &trans
  &trans  &kp LEFT    &kp DOWN  &kp RIGHT   &kp C_VOL_DN  &trans  &trans  &trans  &kp N4  &kp N5  &kp N6  &trans
  &trans  &trans      &kp C_PP  &trans      &kp C_MUTE                    &trans  &kp N1  &kp N2  &kp N3  &kp N0
                      &trans    &trans      &trans                        &trans  &trans  &trans
            >;
        };

        connectivity {
            display-name = "CONNECTIVITY";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &bt BT_NXT    &bt BT_PRV    &trans        &trans
                  &trans  &trans  &trans                  &trans  &trans        &trans
            >;
        };
    };
};
